audio/2025-04-20 11-13-18.mp3
audio/artificial_60hz.mp3
audio/audiocheck.net_hdsweep_1Hz_96000Hz_-3dBFS_30s.wav
audio/audiocheck.net_sin_60Hz_-3dBFS_3s.wav
audio/B_room_fan.mp3
audio/electrical_box_hum.mp3
audio/fume_extractor_close_up.mp3
audio/fume_extractor_recording.mp3
audio/phone_sweep_hmic.mp3
audio/Transformer.mp3
